{%extends "layout.html"%}
{%block content%}
<div class="About">
	<h1>About</h1>
	<p>Making and testing my codes</p>
	<p>1st (82%) on my dissertation which is called: VOLATILITY IN THE STOCK MARKET.</p>
	<p>1:1 Overall grade at the University of Portsmouth</p>
	<p>Modules included: Financial Instruments and International Banking, Econometric Analysis, Financial Economics & Advanced Economics.</p>
	<p>Biggest returns on ivestments is 31,250%, which the goddess of luck herself is not able to do.</p>
	<p>Advanced knowledge on investment strategies which cover Quantitative, Qualitative, Fundamentals and Technical strategies.</p>
	<p>To equire about my skillsets please message me to gain access to my CV through linkedIN.</p>
	<p>Main focus is automation of my strategies and combing my advanced financial knowledge to my great coding skills.</p>
	<p>When I become a pro fighter I will give anyone who sees this free tickets.</p>
</div>
{%endblock%}

